<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Usuario</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<!-- importando css do bootstrap com maven -->
</head>
<body>

	<!-- Cabeçalho -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="cabecalho">	
		<a class="navbar-brand" href="#">Gerenciador de Tarefas</a>
	</nav>
	
	<div class="container">
		<h3>Novo Usuario</h3>

		<form class="form-horizontal" action="/registration" method="post"
			th:object="${usuario}">

			<div class="row">
				<div class="form-group col-md-6">
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}">
						<label th:errors="*{email}" class="validation-message"></label>
					</div>
					<label>E-mail:</label> <input type="text" class="form-control"
						th:field="*{email}">
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-6">
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('senha')}">
						<label th:errors="*{senha}" class="validation-message"></label>
					</div>
					<label>Senha:</label> <input type="password" class="form-control"
						th:field="*{senha}">
				</div>
			</div>
			
			<button type="submit" class="btn btn-primary">Salvar</button>
		</form>
	</div>

	<script src="webjars/jquery/3.4.1/jquery.min.js"></script>
	<!--  importando js com maven -->
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>